body{
    font-family: var(--fonte-principal);
    color: #333333;
}
main{
    padding: 2.5rem 0 0;
    margin: 0 auto;
    max-width: 1360px;
    
}
.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;

}
.btn-outline{
    background-color:transparent;
    border: 2px solid #ffffff;
    margin-right: 1rem;
    color: #ffffff;
}
.btn-filled{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #6329a2;
}
.btn:hover{
    background-color: #6329a2;
    border-color: #6329a2;
    color: #ffffff;

}
.hero-buttons{
    gap: 16px;
    }