.footer-site {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 1360px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    
    
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-links ul {
    display: flex;
    padding: 0;
    gap: 1.25rem;
}

.footer-links ul ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.footer-links strong {
    color: #ededed;
    font-size: 20px;
    margin-bottom: 16px;
    display: block;
    font-weight: 400;
}

.footer-links li a {
    color: #ffffff;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.footer-newsletter input {
    border-radius: 30px;
    color: #aaaaaa;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}
.footer-newsletter{
    display: flex;
    flex-direction:column;
    
}
.footer-social ul {
    display: flex;
    gap: 1.25rem;

}

.footer-social span {
    margin-bottom: 16px;
    display: block;
}
.footer-social ul li a:hover img{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-copyright{
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
    flex-direction: column;
    display: flex;
}