.header{
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;    
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 12px 20px;    
}
.logo img{
    height: 48px;
   
}
.nav-center ul{
    display: flex;
    gap: 2.5rem;   
}
.nav-center a,:hover
.nav-right a{
    color: #7c3aed;
}
.nav-right{
    display: flex;
    gap: 1.5rem;
}
