.categories-section{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    

    

}
.category-name{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;

}
.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    
} 
.overlay{
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
}
    
.casual{
    background: url(../assets/img/categories/casual.jpg) no-repeat center;
    background-size: cover;
}
.esporte{
    background: url(../assets/img/categories/esportivo.jpg) no-repeat center;
    background-size: cover;
}
.moderno{
    background: url(../assets/img/categories/tênis\ colorido.jpg) no-repeat center;
    background-size: cover;
}
.futurista{
    background: url(../assets/img/categories/futurista.jpg) no-repeat center;
    background-size: cover;
}
